.edit-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 gleich große Spalten */
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    width: 100%; /* oder: auto */
}


.input-small {
    padding: 8px;
    margin-bottom: 15px;
}

.input-small, select{
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

.textarea-large {
    width: 100%;
    height: 80px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    margin-bottom: 15px;
}

.add-question-card-image {
    max-height: 80px;
    max-width: 100px;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}



.add-question-label {
    display: flex;
    flex-direction: column;
}



.add-input-small {
    padding: 8px;
    height: 40px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;
}


.image-preview {
    width: 150px;
    margin-top: 0.5rem;
}


