.button-group-button {
    background-color: #66b3ff;
}

.button-group-button:hover {
    background-color: #007bff;
}

.button-group-button:disabled {
    opacity: 0.5;
    cursor: default;
}

#button-high-score {
    background-color: #ff9e00;
}

#button-high-score:hover {
    background-color: #e67e00;
}

.space-between{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 10px;
}

.space-difficulty{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#buttons-profile-container {
    padding:0;
    margin-top: 20px;
    margin-bottom: 20px;
}

#button-profile {
    background-color: #9c27b0; /* Violett */
}

#button-profile:hover {
    background-color: #7b1fa2; /* Dunkleres Violett beim Hover */
}