.navbar {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

.footer {
    margin-top: auto;
    margin-bottom: 20px;
    padding: 1rem;
    text-align: center;
}

.clickable-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    background-color: #66b3ff;
    border-radius: 5px;
    border: 1px solid #007bff;
    transition: background-color 0.2s ease-in-out, transform 0.1s ease-in-out;
}

.clickable-header:hover {
    background-color: #007bff;
}

#clickable-header-play {
    background-color: #66bb6a;
}

#clickable-header-play:hover {
    background-color: #388e3c;
}

.header-title {
    margin: 2px;
    font-family: inherit;
    font-size: 1em;
    font-weight: 550; /* Changed from 650 to 550 for better readability */
    text-align: center;
    background: none;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
    text-transform: none;
    letter-spacing: normal;
}

.logo-image {
    height: 30px;
    width: auto;
    margin-right: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
}